body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    background-color: #23272a;
    color: white;
    position: relative;
    min-height: 100vh;
    min-width: 550px;
}

.Content-Holder {
    max-width: 1000px;
    margin: auto;
    padding: 70px 15px 80px 15px;
    background: #3e464b;
}

.button-holder {
    height: 50px;
    width: 100%;
    display: block;
    font-size: 130%;
}

.left-side {
    display: inline-block;
    margin: 12px 15px 0;
    float: left;
}

.right-side {
    display: inline-block;
    margin: 10px 15px;
    float: right;
}

.middle-side {
    display: inline-block;
    margin: 13px 15px;
}

.sort-type {
    width: 120px;
    border-radius: 5px;
    height: 23px;
    margin-left: 20px;
}

#view-type {
    width: 100px;
    border-radius: 5px;
    height: 23px;
    margin-left: 20px;
}

.button {
    color: rgba(255, 255, 255, 0.8);
    padding: 1px 15px;
    border: 2px solid #666e75;
    border-radius: 20px;
    background: linear-gradient(#4E555C 0%, #4E555C 20%, rgb(42, 171, 178) 60%);
    background-size: 1px 400px;
    cursor: pointer;
}

.button:hover {
    color: white;
    border: 2px solid white;
    background-position: 400px;
    transition-property: border, color, background;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    user-select: none;
}

/* tile styles */

.items-holder-tile {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    display: block;
    padding: 10px 15px;
    width: 220px;
    height: 340px;
    border-radius: 5px;
}

.tile:hover {
    background-color: #56646a;
    transition: background 500ms ease-out;
}



.image-tile {
    display: block;
    max-width: 220px;
    max-height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.image-tile-helper {
    position: relative;
    display: block;
    width: 220px;
    height: 300px;
    margin: 0 auto 10px auto;
}


.name-tile {
    font-size: 80%;
    font-weight: bold;
    float: left;
    display: block;
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
}


.desc-tile {
    float: left;
    font-style: italic;
    width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.desc-tile:hover, .name-tile:hover {
    color: #c4c7ca;
}

.price-tile{
    float: right;
    width: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
}

.price-tile:before{
    content: "$";
}

.color-tile {
    float: right;
}

/* color circles */
.color-circle {
    border-radius: 25px;
    height: 12px;
    width: 12px;
    border: 2px rgba(251, 244, 255, 0.23) solid;
    margin: 0 2px;
    display: inline-block;
    cursor: pointer;
}

.color-circle:hover {
    border: 2px rgba(251, 244, 255, 0.73) solid;
}

.color-red {
    background-color: #db5046;
}

.color-green {
    background-color: #959f7a;
}

.color-yellow {
    background-color: #dbccb3;
}

.selected {
    border: 2px rgba(251, 244, 255, 0.73) solid;
}

/* list styles */

.list {
    display: block;
    margin: 15px;
    width: auto;
    height: 100px;
}

.image-list-helper {
    display: inline-block;
    height: 100px;
    width: 120px;
}

.image-list {
    max-width: 100px;
    max-height: 100px;
    vertical-align: middle;
    cursor: pointer;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.title-list {
    display: inline-block;
    font-size: 140%;
    height: 65px;
    position: relative;
}

.name-list {
    font-style: italic;
    margin-left: 2px;
}
.name-list:after {
    content: ", ";
}

.desc-list:after {
    content: ", ";
}

.price-list{
    font-weight: bold;
}

.price-list:before{
    content: "$";
}

.color-list {
    position: absolute;
    display: block;
    bottom: 18px;
}

.list:hover {
    background-color: #56646a;
    transition: background 500ms ease-out;
}

.title-list-holder:hover {
    cursor: pointer;
    color: #c4c7ca;
}

/* modal for adding content*/
#modal-window {
    position: fixed;
    z-index: 20;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    left: 0;
    top: 0;
    padding-top: 100px;
}

.modal-content {
    width: 800px;
    height: 300px;
    background-color: #3e464b;
    margin: auto;
    backface-visibility: hidden;
    padding: 30px;
    position: relative;
}
.modal-top-row {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.modal-middle-row {
    font-size: 130%;
    line-height: 40px;
    margin: 30px 0;
}


.modal-input {
    float: right;
    width: 200px;
    font-size: 70%;
}
#enter-image {
    width: 204px;
}

.modal-button {
    font-size: 130%;
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    padding: 1px 15px;
    border: 2px solid #666e75;
    border-radius: 20px;
    background: linear-gradient(#4E555C 0%, #4E555C 20%, rgb(42, 171, 178) 60%);
    background-size: 1px 400px;
    cursor: pointer;
}

.modal-button:hover {
    color: white;
    border: 2px solid white;
    background-position: 400px;
    transition-property: border, color, background;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    user-select: none;
}

.modal-add {
    float: right;
}


/* buttons for expanding content*/
.button-more {
    display: inline-block;
    margin: 10px auto;
    font-size: 120%;
    border-radius: 70px;
}

.button-more-holder {
    margin: auto;
    text-align: center;
}

/* modal for viewing item*/

#modal-window-item {
    display: none;
    backface-visibility: hidden;
    position: fixed;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    left: 0;
    top: 0;
    padding-top: 100px;
}

.modal-item-content {
    width: 800px;
    max-height: 600px;
    background-color: #3e464b;
    margin: auto;
    backface-visibility: hidden;
    padding: 30px;
    position: relative;
}

.modal-item-top-row {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 160%;
}

.modal-item-middle-row{
    font-size: 130%;
    line-height: 40px;
    margin: 20px 0 0 0;
    width: 100%;
}

.modal-item--image-holder {
    display: inline-block;
    vertical-align: center;
    width: 400px;
    height: 400px;
    position: relative;
}
.modal-item--image {
    max-width: 400px;
    max-height: 400px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto
}

.modal-item--right-side {
    vertical-align: top;
    display: inline-block;
    height: 400px;
    width: 370px;
    padding-left: 15px;
    font-size: 110%;
    position: relative;
}

.modal-item-price-row{
    width: 100%;
    margin: 10px 0 20px 0;
}
.modal-item--quantity{
    width: 30%;
    display: inline-block;
    font-size: 110%;
}

.modal-item-quantity-input {
    width: 40px;
    margin-left: 20px;
    font-size: 110%;
}
.modal-item-add {
    float: right;
}

.modal-item--attribute {
    display: block;
    text-align: right;
    width: 100%;
}

.modal-item--name {
    font-style: italic;
    font-weight: bold;
}

.modal-item--price {
    font-weight: bolder;
    width: 70%;
    display: inline-block;
    font-size: 170%;
}



.modal-item--price:before {
    content: "$";

}

.color-modal {
    position: absolute;
    bottom: 0;
    right: 0;
}

.color-circle-modal {
    border-radius: 25px;
    height: 20px;
    width: 20px;
    border: 3px rgba(251, 244, 255, 0.23) solid;
    margin: 0 2px;
    display: inline-block;
    cursor: pointer;
}

.color-circle-modal:hover {
    border: 3px rgba(251, 244, 255, 0.73) solid;
}

.selected-modal {
    border: 3px rgba(251, 244, 255, 0.73) solid;
}

.view-selector {
    display: inline-block;
    background: white;
    width: 30px;
    height: 26px;
    border: 2px solid #3e464b;
    cursor: pointer;
    position: relative;
}

.view-selector:hover {

}

.view-tiles {
    border-right: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.view-list {
    border-left: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    float: right;
}

.selected-selector {
    cursor: default;
    opacity: 0.5;
}

.image-selectors {
    position: absolute;
    width: 18px;
    top: 4px;
    left: 6px;
}